.beta{
    position: absolute;
    z-index: 1000;
    left: -190px;
    top: 10px;
    width: 450px;
    padding:20px;
    -webkit-box-shadow: 0 2.5px 5px 1px rgba(0,0,0,.3);
    box-shadow: 0 2.5px 5px 1px rgba(0,0,0,.3);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background-color: #f12323;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1;
}
.beta__content {
    margin: 0;
    text-align: center;
    letter-spacing: 2.5px;
    font-size: 2.5rem;

}
.form-control{
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.badge_success {
		background: #79d279;
		border-radius: 3px;
		color: #fff;
		font-weight: 600;
		padding: 2px 6px;
		box-shadow: 0 2px 3px rgba(0,0,0,.2), inset 0 2px 5px rgba(225,225,225,.3);
		font-size: 13px;
		margin-left: 5px;
		position: relative;
		display: inline-block;
		top: -1px;
    }
.list-group{
    padding-left:0;
    margin-bottom:20px;
    margin: 0 !important;
}
.list-group-item{
    position:relative;
    display:block;
    padding:10px 15px;
    margin-bottom:-1px;
    background-color:#fff;
    border:1px solid #ddd
}
.box-indicador{position:relative;border-radius:3px;background:#ffffff;border-top:3px solid #d2d6de;margin-bottom:20px;width:100%;box-shadow:0 1px 1px rgba(0,0,0,0.1)}
.text-danger{color:#a94442}a.text-danger:hover{color:#843534}
.form-control{
    display:block;
    width:100%;
    height:34px;
    padding:2px 12px !important;
    font-size:14px;
    line-height:1.42857143 !important;
    color:#555;
    background-color:#fff;
    background-image:none;
    border:1px solid #ccc !important;
    border-radius:4px !important;
    // -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    // box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    // -webkit-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    // -o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    // -webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    // transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    // transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    // transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s
}
//para alterar o formato do cursor nos campos de oportunidade
span {
    cursor: pointer
}