//
// Variables
// --------------------------------------------------


//== Colors
//
//## Gray and brand colors for use across application.

//$brand-primary: #f90;
$brand-accent: #000;


$brand-primary: #249243 !default;
$brand-event:   #720783 !default;
$brand-agent:   #ff641f !default;
$brand-space:   #274BF8 !default;
$brand-project: #42515e !default;
$brand-opportunity: #CC0033 !default;
$brand-seal: 	#684224 !default;
$brand-devs:    #85C0DD !default;



//== User submenu
//
//## Define user submenu colors.

$user-submenu-link:				$brand-accent;