<div>
    <font face="tahoma, sans-serif" color="#666666">Nova entidade criada na plataforma Mapa da Saúde <b>{{name}}</b> !<br><br></font>
</div>
<div>
    <font face="tahoma, sans-serif" color="#666666">Criado(a) <b>{{entityType}}</b> de nome <b>{{entityName}}</b> na instalação <b>{{url}}</b> em <b>{{createTimestamp}}</b>.<br></font>
</div>
<div>
    <font face="tahoma, sans-serif" color="#666666">Continue construindo e atualizando o seu mapa da saúde.<br><br></font>
</div>
<div>
    <b>
        <font face="tahoma, sans-serif" color="#444444">Mapa da Saúde - Ceará</font>
    </b>
</div>
<div>
    <font face="tahoma, sans-serif" color="#444444">
        <a href="mailto:desenvolvimento@esp.ce.gov.br" target="_blank">desenvolvimento@esp.ce.gov.br</a>
        <br>
    </font>
</div>
<div>
    <font face="tahoma, sans-serif" color="#444444">
        <a href="https://mapa.sus.ce.gov.br" target="_blank">https://mapa.sus.ce.gov.br</a><br>
    </font>
</div>
