<div>
    <font face="tahoma, sans-serif" color="#666666">Olá <b>{{name}}</b> !<br><br></font>
</div>
<div>
    <font face="tahoma, sans-serif" color="#666666">Entidade {{entityType}} <b>{{entityName}}</b> está com selo certificador {{sealName}} expirado. Acesse a página da entidade clicando <a href="{{url}}">aqui</a> e solicite a renovação do período de validade.<br><br></font>
</div>
<div>
    <b>
        <font face="tahoma, sans-serif" color="#444444">Mapas da Saúde</font>
    </b>
</div>
<div>
    <font face="tahoma, sans-serif" color="#444444">
        <a href="mailto:desenvolvimento@esp.ce.gov.br" target="_blank">desenvolvimento@esp.ce.gov.br</a>
        <br>
    </font>
</div>
<div>
    <font face="tahoma, sans-serif" color="#444444">
        <a href="https://mapa.sus.ce.gov.br" target="_blank">https://mapa.sus.ce.gov.br</a><br>
    </font>
</div>
