<div>
    <font face="tahoma, sans-serif" color="#666666">Bem vindo(a) a plataforma Mapa da Saúde!<br><br></font>
</div>
<div>
    <font face="tahoma, sans-serif" color="#666666">Com o cadastro de agente do mapa da Saúde, você pode se inscrever em editais e ainda cadastrar eventos e projetos de sua autoria, que ficam disponíveis para consultas neste banco de dados.<br>Construa seu próprio mapa da saúde!<br><br></font>
</div>
<div>
    <font face="tahoma, sans-serif" color="#666666">Aproveite!<br><br></font>
</div>
<div>
    <b>
        <font face="tahoma, sans-serif" color="#444444">Mapas da Saúde</font>
    </b>
</div>
<div>
    <font face="tahoma, sans-serif" color="#444444">
        <a href="mailto:desenvolvimento@esp.ce.gov.br" target="_blank">desenvolvimento@esp.ce.gov.br</a>
        <br>
    </font>
</div>
<div>
    <font face="tahoma, sans-serif" color="#444444">
        <a href="https://mapa.sus.ce.gov.br" target="_blank">https://mapa.sus.ce.gov.br</a><br>
    </font>
</div>
